<form class="ui stacked segment form" action="/member/{{member.id}}/addgoal" method="POST">
  <h2 class="ui header">
    New Goal
  </h2>
  <div class="field">
     <input placeholder="Add goal measurement" type="text" name="measurement">
  </div>
  <button class="ui blue submit button">Add Goal</button>
</form>