<form class="ui stacked segment form" action="/member/{{member.id}}/addgoal" method="POST">
  <div class="field">
    <label>Measurement</label>
     <input placeholder="Add goal measurement" type="text" name="measurement">
  </div>
  <button class="ui blue submit button">Add Goal</button>
</form>